CREATE PROCEDURE stg.usp_load_stg_master
AS
BEGIN
    SET NOCOUNT ON

    TRUNCATE TABLE stg.customers
    INSERT INTO stg.customers
    SELECT c.customer_id, c.name, c.grade, c.join_date
    FROM erp.customers c

    TRUNCATE TABLE stg.products
    INSERT INTO stg.products
    SELECT p.product_id, p.name, p.category_id, cat.name AS category_name, p.list_price
    FROM erp.products p
    LEFT JOIN erp.categories cat ON cat.category_id = p.category_id
END
GO
