SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============================================================
   원천(ERP) 주문 데이터를 스테이징으로 적재
   ============================================================ */
CREATE PROCEDURE [stg].[usp_load_stg_orders]
    @load_date DATE
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE stg.orders;

    INSERT INTO [stg].[orders] (order_id, customer_id, order_date, status)
    SELECT o.order_id, o.customer_id, o.order_date, o.status
    FROM [ErpDb].[erp].[orders] o WITH (NOLOCK)
    WHERE o.order_date >= @load_date;

    -- 주문 상세는 별도 테이블
    INSERT INTO stg.order_items (order_id, product_id, qty, unit_price)
    SELECT i.order_id, i.product_id, i.qty, i.unit_price
    FROM erp.order_items i
    JOIN erp.orders o ON o.order_id = i.order_id
    WHERE o.order_date >= @load_date
END
GO
